# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci .

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - version: 23.x
          - version: 22.x
          # glob is not backported below 22.x
      fail-fast: false # prevent a failure in other versions run cancelling others

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node.version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node.version }}
          cache: 'npm'
      - name: npm clean install
        run: npm ci
      - run: npm test
      - name: Publish coverage to Coveralls ${{ matrix.test_number }}
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ join(matrix.*, '-') }}
          file: ./coverage.lcov
          format: lcov
          parallel: true

  finish:
    needs: test
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          carryforward: "run-1,run-2"
